<style type="text/css">
    .boot-select {
        float: right;
        width: 80px;
    }
    
    .boot-nav {
        float: right;
    }
    
    .boot-page {
        display: inline-block;
        margin: 2px 10px 0 20px;
        vertical-align: middle;
    }
    
    #printerror .page-total {
        display: inline-block;
        vertical-align: middle;
    }
    
    #printerror .baginTop {
        width: 100%;
        height: 50px;
        /*overflow: hidden;*/
    }
    
    #printerror .topL {
        width: 680px;
        height: 50px;
        padding: 10px 0;
        overflow: hidden;
    }
    
    #printerror .calendar {
        background: #fff;
    }
    
    #printerror .baginTop span {
        display: block;
        float: left;
        width: 60px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    
    #printerror .timer1 {
        width: 600px;
        height: 40px;
        margin-left: 10px;
    }
    #printerror  .ent,
    #printerror .start {
        display: block;
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0 10px;
        border: 1px solid #ccc;
        outline: none;
        text-indent: 10px;
    }
    
    #printerror .ent {
        border-left: 0;
    }
   #printerror .search-btn {
        cursor: pointer;
        display: inline-block;
        float: left;
        width: 50px;
        height: 40px;
        background: url(../res/images/search.png) no-repeat;
    }
    #printerror .search1-btn {
        cursor: pointer;
        display: inline-block;
        float: right;
        width: 130px;
        height: 40px;
        background: #29A7E1;
        text-align: center;
        line-height: 40px;
    }
    #printerror .searchR .search-input {
        outline: none;
        border: 1px solid #b3b3b3;
        box-sizing: border-box;
        border-right: none;
        width: 200px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        color: #999;
        float: left;
    }
    #printerror .baginTop .topR {
        width: 500px;
        height: 40px;
        padding: 10px 0;
    }
    
   #printerror  .tab {
        width: 88px;
        height: 40px;
        background: url(res/images/off.png) -48px 0 no-repeat;
        margin: 0 20px;
    }
    
    #printerror .searchR {
        height: 40px;
    }
    
    #printerror .luyou {
        width: 100%;
        line-height: 40px;
        height: auto;
    }
    
    #printerror .state {
        color: #009A44;
        margin: 0 50px 0 10px;
    }
    
    #printerror .table {
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
  
    #printerror .table .tableTr {
        width: 100%;
        height: 50px;
        background: #F2F2F2;
    }
    #printerror .tableTr-last{margin-bottom:20px;}
    #printerror .tableTr div {
        float: left;
        width: 25%;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
   
</style>

<section style="text-align:left;"  num="app" id="printerror">
    <section class="luyou" id="table" style="width:100%;min-width: 1140px;position:relative;">
        <section  class="table" style="">
            <section style="background:#E6E6E6" class="tableTr">
                <div class="tr">订单编号</div>
                <div>错误类型</div>
                <div>错误信息</div>
                <div>生成时间</div>
            </section>
            <section style="width:100%;position:relative;">
                <section style="width:100%">
                    <section v-if = "printError.length == 0" style="width:100%;height:50px;line-height: 50px;text-align: center;color:orange;">暂时无打印机错误单</section>
                    <section v-else v-for="(index,print) in printError">
                        <section v-if="(index % 2) == 0" style="background-color: #f2f2f2;" class="tableTr">
                            <div>{{print.orderId}}</div>
                            <div>{{print.type}}</div>
                            <div>{{print.info}}</div>
                            <div>{{print.createTime}}</div>
                        </section>
                        <section v-else style="background-color: #fff;" class="tableTr">
                            <div>{{print.orderId}}</div>
                            <div>{{print.type}}</div>
                            <div>{{print.info}}</div>
                            <div>{{print.createTime}}</div>
                        </section>
                    </section>
                </section>
            </section>

            <section style="background:#E6E6E6" class="tableTr tableTr-last">
                <div class="tr">订单编号</div>
                <div>错误类型</div>
                <div>错误信息</div>
                <div>生成时间</div>
            </section>
        </section>
        
        <!--翻页控件：-->
        <!--<sd-page :page.sync="0" :count.sync='100' :total.sync='20' :num.sync='1'></sd-page>-->

    </section>

</section>

